node_modules/
backend/node_modules/
frontend/node_modules/
.vscode/

.env
backend/.env
backend/src/.env

*.log
logs/
backend/logs/
backend/src/logs/

uploads/
backend/uploads/
backend/src/uploads/

.DS_Store
Thumbs.db


